{%extends "base.html"%}

{%block title%}Tasks{%endblock%}

{%include "partials/form_errors.html"%}

{%block content%}

<div class="flex justify-center items-center min-h-[60vh]">
    <div class="w-full max-w-6xl px-4">

<!--        title and create task button-->
        <div class="flex justify-between items-center mb-2">
            <h1 class="text-3xl font-semibold">Tasks</h1>
            <a href="{{url_for('tasks.create')}}" class="block bg-blue-600 text-white p-2 rounded-lg hover:bg-blue-700">Create Task</a>
        </div>

<!--        tasks for 'user'-->
        <p class="mb-4">Task List for {{current_user.username}}</p>

<!--        search bar-->
        <form action="{{url_for('tasks.tasks')}}" class="mb-4 max-w-sm">
            <div class="flex gap-4">
                <input name="search" id="search" value="{{search_term}}" placeholder="Search tasks..."
                      class="px-2 py-2 shadow-sm border border-gray-300 rounded-md w-full">
                <button type="submit"
                        class="text-white bg-blue-600 py-2 px-4 rounded-lg hover:bg-blue-700">Search
                </button>
            </div>
        </form>

<!--        if tasks exist print the grid, else prompt to add tasks-->
        {%if tasks%}
<!--        card grid-->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {%for task in tasks%}

<!--            individual card-->
            <div class="flex flex-col justify-between shadow-lg bg-white rounded-lg p-5 border border-gray-200 space-y-3 md:min-h-[300px]">

<!--                title and description-->
                <div class="space-y-2">
                    <div>
                        <h3 class="text-lg text-center font-semibold mb-2 line-clamp-2">
                            {{task.title}}</h3>
                        <p class="text-sm text-gray-500 line-clamp-3">
                            {{task.description}}</p>
                    </div>

                    <a href="{{url_for('tasks.detail', task_id = task.id)}}" class="text-xs text-gray-500 hover:underline">Read more...</a>

                    <!--                due date, status and priority-->
                    <div class="text-sm text-gray-500 space-y-1">
                        <p><strong>Due Date:</strong> {{task.due_date}}</p>
                        <p><strong>Status:</strong> {{STATUS_LABELS[task.status]}}</p>
                        <p><strong>Priority:</strong>
                            <span class="{{PRIORITY_COLOURS[task.priority]}}">{{task.priority.value}}</span>
                        </p>
                    </div>
                </div>

<!--                update, complete and delete-->
                <div class="flex flex-col md:flex-row gap-2 mt-4">
<!--                <div class="flex flex-col md:justify-around md:flex-row md:items-center">-->
                    <a href="{{url_for('tasks.update', task_id=task.id)}}"
                       class="bg-yellow-300 text-center px-1 py-1 rounded-lg w-24 border border-solid border-gray-300 hover:bg-yellow-400 transition">Update</a>
                    <form action="{{url_for('tasks.complete', task_id=task.id)}}"
                          method="post"
                          onsubmit="return confirm('Complete task?')">
                        <button type="submit"
                                class="bg-green-400 px-1 py-1 w-24 rounded-lg border border-solid border-gray-300 hover:bg-green-500 transition"
                                >Complete</button>
                    </form>
                    <form action="{{url_for('tasks.delete', task_id=task.id)}}"
                          method="post"
                          onsubmit="return confirm('Delete task?')">
                        <button type="submit"
                                class="bg-red-500 px-1 py-1 w-24 rounded-lg border border-solid border-gray-300 hover:bg-red-600 transition"
                                >Delete</button>
                    </form>
                </div>
            </div>
            {%endfor%}
        </div>

<!--        if no tasks exist, display this instead-->
        {%elif search_term%}
        <div class="mt-20 space-y-2">
            <h3 class="text-lg font-semibold">No results</h3>
        </div>
        {%else%}
        <div class="mt-20 space-y-2">
            <h3 class="text-lg font-semibold">You have no Tasks!</h3>
            <p>Click the create task button above to add some tasks</p>
        </div>
        {%endif%}

<!--        pagination-->
        <div class="flex justify-center gap-5 mt-6">
            {%if pagination.has_prev%}
            <a href="{{url_for('tasks.tasks', page=pagination.prev_num, search=search_term)}}"
               class="border border-gray-300 rounded-md px-3 py-2 hover:bg-gray-200">Previous</a>
            {%else%}
            <a class="border border-gray-300 rounded-md px-3 py-2 hover:bg-gray-200 invisible">Previous</a>
            {%endif%}

            {%if pagination.pages != 0%}
            <span class="px-3 py-2">Page {{pagination.page}} of {{pagination.pages}}</span>
            {%endif%}

            {%if pagination.has_next%}
            <a href="{{url_for('tasks.tasks', page=pagination.next_num, search=search_term)}}"
               class="border border-gray-300 rounded-md px-3 py-2 hover:bg-gray-200"
               >Next</a>
            {%else%}
            <a class="border border-gray-300 rounded-md px-3 py-2 hover:bg-gray-200 invisible">Next</a>
            {%endif%}
        </div>
    </div>
</div>


{%endblock%}