{%extends "base.html"%}

{%block title%}Tasks{%endblock%}

<!--{%include "partials/form_errors.html"%}-->

{%block content%}
<h1>Task List for {{current_user.username}}</h1>

{%for task in tasks%}
    <p>Title - {{task.title}}</p>
    <p>Description - {{task.description}}</p>
    <p>Due Date - {{task.due_date}}</p>
    <p>Status - {{STATUS_LABELS[task.status]}}</p>
    <p>Priority - {{task.priority.value}}</p>
    <a href="{{url_for('tasks.update', task_id=task.id)}}">Update Task</a>
    <form action="{{url_for('tasks.delete', task_id=task.id)}}"
          method="post"
          onsubmit="return confirm('Delete task?')">
        <button type="submit">Delete Task</button>
    </form>
<br>
<br>
{%endfor%}

<a href="{{url_for('tasks.create')}}">Create Task</a>
<a href="{{url_for('auth.update_password')}}">Update password?</a>
{%endblock%}