{%extends "base.html"%}

{%block title%}Update Password{%endblock%}

{%include "partials/form_errors.html"%}

{%block content%}

<div class="flex justify-center items-center min-h-[70vh]">
    <div class="rounded-lg max-w-md bg-white p-8 w-full max-w-md shadow-lg">
        <h2 class="text-xl font-semibold text-center mb-5">Update Password</h2>

        <form action="{{url_for('auth.update_password')}}">
            <div class="mb-4">
                <label for="old_password" class="block mb-1">Old Password</label>
                <input id="old_password" name="old_password" type="password"
                       class="w-full p-2 rounded-md border border-solid border-gray-300">
            </div>

            <div class="mb-4">
                <label for="new_password" class="block mb-1">New Password</label>
                <input id="new_password" name="new_password" type="password"
                       class="w-full p-2 rounded-md border border-solid border-gray-300">
            </div>

            <div class="mb-6">
                <label for="confirm_password" class="block mb-1">Confirm New Password</label>
                <input id="confirm_password" name="confirm_password" type="password"
                       class="w-full p-2 rounded-md border border-solid border-gray-300">
            </div>

            <button type="submit"
                    class="w-full text-center bg-blue-500 text-white py-1 rounded-md mb-3 hover:bg-blue-600 transition"
                    >Confirm</button>
        </form>
    </div>
</div>
{%endblock%}